@import '../../../scss/variables';
@import '../../../scss/taskAndCategories/taskAndCategories';
.firstFormsRow {
  display: flex;
  div {
    width: 50%;
    .category {
      margin-left: 2%;
    }
  }
  input,
  select {
    box-sizing: border-box;
    width: 98%;
    @extend %input-bolder-appearance;
  }
  select {
    margin-left: 2%;
    -webkit-appearance: none;
    -moz-appearance: none;
    option {
      color: gray;
      border: 2px solid orange;
      padding: 10px;
    }
  }
}
.secondFormsRow {
  textarea {
    background-color: $background-color;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    @extend %input-bolder-appearance;
  }
}
.firstFormsRow > div:first-child,
.secondFormsRow {
  position: relative;
}
.firstFormsRow > div:first-child {
  .title {
    width: fit-content;
  }
}
.title {
  position: absolute;
  left: 12px;
  top: 10px;
  background-color: $background-color;
  padding: 0 2px;
  font-size: 15px;
  span {
    color: red;
  }
}
