@import '../../../scss/taskAndCategories/taskAndCategories';
@import '../../../scss/forms/forms';
.form {
  width: 100%;
  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    @extend %input-style;
  }
  textarea {
    height: $textarea-height;
  }
}
.fieldBlock {
  position: relative;
}
.title {
  @extend %title-style;
}
.formError {
  @extend %form-error;
}
