@import '../../../scss/taskAndCategories/taskAndCategories';
@import '../../../scss/variables';
.form {
  width: 100%;
  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    @extend %input-bolder-appearance;
  }
  textarea {
    resize: none;
  }
}
.fieldBlock {
  position: relative;
}
.title {
  position: absolute;
  left: 12px;
  top: 10px;
  background-color: $background-color;
  padding: 0 2px;
  font-size: 15px;
  span {
    color: red;
  }
}
