@import '../../scss/variables';

.header {
  .title {
    font-size: 30px;
  }
  display: flex;
  color: white;
  width: calc(100% - 24px * 2);
  height: calc(9vh - 24px * 2);
  padding: 24px;
  background: $main-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: space-between;
}
.tasksCategories {
  margin-right: auto;
  margin-left: 50px;
  .link {
    color: $background-color;
    &:hover {
      color: white;
    }
  }
}
.add {
  cursor: pointer;
  color: $background-color;
  &:hover {
    color: white;
  }
}
